* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f2;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	margin-bottom: 30px;
	text-align: center;
}

.block {
	display: inline-block;
	width: 25%;
	height: 100vh;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	vertical-align: top;
	position: relative;
}

.block:not(:last-child) {